.product-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 !important;
  .p-card-body {
    padding: 0;

    .p-card-content {
      padding: 0;

      .product-img {
        img {
          width: 200px;
          height: 260px;
          object-fit: cover;
          object-position: center;

          @include m-phone {
            width: 130px;
            height: 150px;
          }

          @include sm-phone {
            width: 130px;
            height: 150px;
          }
        }
      }

      .product-details {
        padding: 10px;

        @include m-phone {
          padding: 0 10px;
        }

        @include sm-phone {
          padding: 0 10px;
        }

        p {
          font-size: 15px;
          margin: 0;
          font-weight: bold;

          @include m-phone {
            font-size: 12px;
          }

          @include sm-phone {
            font-size: 12px;
          }
        }

        small {
          font-size: 11px;
        }
      }

      .actions {
        padding: 0px 10px;
        justify-content: space-between;
        align-items: center;

        .rating {
          .p-rating-item {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
