.navbar {
  height: 80px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 1, 74, 1) 100%
  );
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .burger-btn {
    color: white;
    display: none;

    @include tablet {
      display: block;
    }

    @include lg-phone {
      display: block;
    }

    @include m-phone {
      display: block;
    }

    @include sm-phone {
      display: block;
    }

    .p-button-label {
      display: none;
    }
  }

  .logo {
    width: 200px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include tablet {
      display: none;
    }

    @include lg-phone {
      display: none;
    }

    @include m-phone {
      display: none;
    }

    @include sm-phone {
      display: none;
    }

    a {
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      transition: 0.3s all;

      &:hover {
        background-color: rgba(255, 255, 255, 0.253);
      }
    }

    .active-link {
      background-color: rgba(255, 255, 255, 0.253);
    }
  }

  .actions {
    gap: 20px;

    .login-btn {
      @include tablet {
        display: none;
      }

      @include lg-phone {
        display: none;
      }

      @include m-phone {
        display: none;
      }

      @include sm-phone {
        display: none;
      }
    }

    .cart-btn {
      color: white;
    }
  }
}

.sidebar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 1, 74, 1) 100%
  );
  border: none;

  .logo {
    width: 150px;

    img {
      width: 100%;
    }
  }

  .sidebar-links {
    width: 100%;
    height: 100%;
    justify-content: flex-start;

    a {
      width: 100%;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
      color: white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.253);
      }
    }

    .active-link {
      background-color: rgba(255, 255, 255, 0.253);
    }

    .login-btn {
      margin-top: 20px;
    }
  }
}
