.kiosk-orders-container {
  gap: 20px;

  .header-row {
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
    .add-brand-btn {
      align-self: flex-start;
    }
  }

  .action-row {
    gap: 5px;
  }
}
