.footer {
  width: 100%;
  padding: 70px;
  background-color: rgb(24, 24, 24);
  color: white;
  gap: 50px;

  .footer-row {
    gap: 50px;

    @include lg-phone {
      flex-direction: column;
      align-items: center;
    }

    @include m-phone {
      flex-direction: column;
      align-items: center;
    }

    .footer-info {
      flex: 1 1 auto;
      width: 50%;
      color: white;
      gap: 20px;

      @include lg-phone {
        width: 100%;
      }

      @include m-phone {
        width: 100%;
      }

      @include sm-phone {
        width: 100%;
      }

      .logo {
        width: 200px;
        margin-top: -30px;
      }

      .about-us {
        margin: 0px 20px;

        @include lg-phone {
          margin: 0;
        }

        @include m-phone {
          margin: 0;
        }

        @include sm-phone {
          margin: 0;
        }
      }

      p {
        margin: 5px 0;
        font-weight: bold;
      }

      .socmed {
        margin: 10px 0 0 0;
        gap: 5px;

        .socmed-icon {
          font-size: 30px;
          color: white;
          transition: 0.3s all;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .footer-info:last-child {
      @include lg-phone {
        margin-top: 30px;
        gap: 10px;
      }

      @include m-phone {
        margin-top: 30px;
        gap: 10px;
      }

      @include sm-phone {
        margin-top: 30px;
        gap: 10px;
      }
    }
  }

  .copyright {
    align-self: center;
  }
}
