.products-preview {
  width: 100%;
  margin: 40px;

  .products-preview-carousel {
    .p-carousel-items-container {
      gap: 5px;
      padding: 20px 0;
      .item-card {
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .item {
          width: 100%;

          .image-container {
            width: 100%;

            img {
              width: 250px;
              height: 330px;
            }
          }

          .item-details {
            justify-content: space-between;
            align-items: center;

            .actions {
              gap: 5px;
            }
          }
        }
      }
    }
  }
}
