.admin-accounts-page {
  width: 100%;
  height: 100%;
  background: var(--surface-50);

  @include lg-phone {
    height: auto;
  }

  @include m-phone {
    height: auto;
  }

  @include sm-phone {
    height: auto;
  }

  .admin-accounts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    h1 {
      font-family: "Ethnocentric Rg", sans-serif;
      margin: 10px 0;
    }

    .accounts {
      gap: 10px;

      .staff-table,
      .customer-table {
        flex: 1 1 auto;
        width: calc(50% - 5px);
        min-width: 300px;

        .p-datatable-header {
          h3 {
            margin: 0;
          }
        }
      }
    }
  }

  .create-account {
    width: 100%;

    .create-account-form {
      padding: 10px;
      gap: 10px;

      .error {
        color: red;
      }

      .create-account-wrap {
        gap: 10px;

        .email-container,
        .name-container,
        .password-container,
        .contact-container,
        .user-role-container {
          width: calc(50% - 5px);
          min-width: 280px;

          @include lg-phone {
            width: 100%;
          }

          @include m-phone {
            width: 100%;
          }

          @include sm-phone {
            width: 100%;
          }

          .p-inputtext {
            width: 100%;
          }
        }
      }

      .create-account-btn {
        margin-top: 20px;
        width: fit-content;

        @include lg-phone {
          width: auto;
        }

        @include m-phone {
          width: auto;
        }

        @include sm-phone {
          width: auto;
        }
      }
    }
  }
}
