@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ethnocentric");

@import "./breakpoints/breakpoints";
@import "./constants/constants";
@import "./layouts/layouts";
@import "./applayout/applayout";
@import "./userauth/userauth";
@import "./ourproducts/ourproducts";
@import "./cart/cart";
@import "./checkout/checkout";
@import "./myorders/myorders";
@import "./queuing/queuing";
@import "./admin/admin";

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  background: var(--surface-100);
  background: url(https://res.cloudinary.com/dpm5vdakr/image/upload/v1709359989/mosawebapp/assets/mosa-bg_n0mxck.png);
  background-position: center;
  background-size: cover;
}

.routerview-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.routerview-container::-webkit-scrollbar {
  width: 7px;
}
.routerview-container::-webkit-scrollbar-track {
  background: #ede4ff;
}
.routerview-container::-webkit-scrollbar-thumb {
  background: #1b014a;
}
.routerview-container::-webkit-scrollbar-thumb {
  // background: transparent;
  transition: 0.3s all;
}
.routerview-container::-webkit-scrollbar-thumb:hover {
  background: #26075f;
}

.p-toast {
  max-width: 300px !important;
}
