@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ethnocentric");

@import "./breakpoints/breakpoints";
@import "./applayout/applayout";
@import "./layouts/layouts";
@import "./constants/constants";

$page-max-width: 1200px;

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  background: var(--surface-100);
}

.routerview-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.routerview-container::-webkit-scrollbar {
  width: 7px;
}
.routerview-container::-webkit-scrollbar-track {
  background: transparent;
}
.routerview-container::-webkit-scrollbar-thumb {
  background: #1b014a;
}
.routerview-container::-webkit-scrollbar-thumb {
  // background: transparent;
  border-radius: 5px;
  transition: 0.3s all;
}
.routerview-container::-webkit-scrollbar-thumb:hover {
  background: #26075f;
}
